# Python Basics NoteBook

In [3]:
#Write a Python code to return your Python version
import sys
print("Python version")
print (sys.version)
print("Version info.")
print (sys.version_info)

Python version
3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
Version info.
sys.version_info(major=3, minor=8, micro=5, releaselevel='final', serial=0)

In [4]:
#Write a Python code to declare variable id="513". 
#Print the following statement "customer id =513". [Don't use print("customer id =513")]

customerid="513"
print("customer id =",customerid)

customer id = 513

In [34]:
#Run the following statement, why there is an error
id="513"
id=id+1
print(id)


we can only concatenate strings not integers

SyntaxError: invalid syntax (<ipython-input-34-720157882996>, line 7)

In [6]:
#Convert the variable id into an integer, increment it by 1.
#Assign the result to variable new_id.
#Print the new_id

id=4.5
id1=int(id)
new_id=id1+1
print("new_id=",new_id)

new_id= 5

In [51]:
#Write a Python code to print the following string in a specific format (see the output). 

# Twinkle, twinkle, little star, 
#     How I wonder what you are! 
#        Up above the world so high, 
#            Like a diamond in the sky.
string1= " Twinkle ,twinkle,little star \n     How I wonder what you are! \n        Up above the world so high \n            like a diamond in the sky"
print(string1)

 Twinkle ,twinkle,little star
     How I wonder what you are!
        Up above the world so high
            like a diamond in the sky

In [41]:
#Givin the following string variable, # Print the first element in the string

course="Python for Data Science"

print("first element in the string is:",course[0])

first element in the string is: P

In [19]:
# Print the element on the 13th index in the string
print("element on the 13th index in the string:",course[13])

element on the 13th index in the string: t

In [20]:
# Find the length of string
len(course)
print("length of string is:",len(course))

length of string is: 23

In [21]:
# Print the last element in the string [use negative index]
course[-1]
print("last element in the string is:",course[-1])

last element in the string is: e

In [22]:
# Take the slice on variable course with only index 11 to index 14
course[11:15] 
print(course[11:15])

Data

In [23]:
# Get every third element in the range from index 0 to index 20
course[0:20:3]

'Ph ra i'

In [28]:
# Concatenate course string with ", AI & Development"
string2 = course + " AI & Development"
print(string2)

Python for Data Science AI & Development

In [29]:
# Replace all the spaces with (_). New string should looks like"Python_for_Data_Science,_AI_&_Development"
string3=string2.replace(" ","_")
print(string3)

Python_for_Data_Science_AI_&_Development

In [30]:
# Convert all the characters in string to upper case
string4=string3.upper()
print(string4)

PYTHON_FOR_DATA_SCIENCE_AI_&_DEVELOPMENT