In [6]:
#Q1 Create a tuple with all participant names in the JDA program
tuple1 = ('Adam','Ajinkya','Akash','Alka','Chloe','Dami','Divya','Edward','Gaurav','Gilmara','Imara',
        'Jainam','Leul','Mehrnaz','Muhammad','Olaolusubomi','Pray','Rasha','Riley','Romita','Salone',
        'Saman','Santhiya','Sidney','Sowjanya','Suganya','Sunint','Temitope','Tony','Ulan','Winnie',
        'Jerry')
tuple1

('Adam',
 'Ajinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Gaurav',
 'Gilmara',
 'Imara',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'Rasha',
 'Riley',
 'Romita',
 'Salone',
 'Saman',
 'Santhiya',
 'Sidney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry')

In [9]:
#Q2 Convert the tuple into a list called pps_L
pps_L = list(tuple1)
pps_L

['Adam',
 'Ajinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Gaurav',
 'Gilmara',
 'Imara',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'Rasha',
 'Riley',
 'Romita',
 'Salone',
 'Saman',
 'Santhiya',
 'Sidney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry']

In [10]:
#Q3 What is the length of your list 
len(pps_L)

32

In [19]:
#Q4 Find the values stored in indexes [3],[5],[14],[30],[38]

print(pps_L[3],pps_L[5],pps_L[14],pps_L[30],pps_L[31])

Alka Dami Muhammad Winnie Jerry

In [20]:
#Q5 Check if "Sarah" is in the list
"Sarah" in pps_L

False

In [68]:
#Q6 Add "Sarah" to your list
pps_L.append("Sarah")
pps_L.remove("Sarah")
pps_L

['Ajinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Gaurav',
 'Gilmara',
 'Instructor',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'Rasha',
 'Riley',
 'Romita',
 'Salone',
 'Saman',
 'Santhiya',
 'Sidney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry',
 'Instructor',
 'Bashir',
 'Peer-Mentor',
 'Sarah',
 'Sarah',
 'Sarah',
 'Sarah',
 'Sarah']

In [69]:
#Q7 Check if "Bashir" is in the list

"Bashir" in pps_L

True

In [37]:
#Q9 Add "Bashir" to your list
pps_L.append("Bashir")
pps_L

['Adam',
 'Ajinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Gaurav',
 'Gilmara',
 'Imara',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'Rasha',
 'Riley',
 'Romita',
 'Salone',
 'Saman',
 'Santhiya',
 'Sidney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry',
 'Sarah',
 'Sarah',
 'Sarah',
 'Sarah',
 'Bashir']

In [38]:
#Q10 Find the index of the element "Sarah" in the list
pps_L.index("Sarah")

32

In [45]:
#Q11 Change the value of the index in Q10 from "Sarah" to "Instructor"

pps_L[32]="Instructor"
pps_L

['Adam',
 'Ajinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Gaurav',
 'Gilmara',
 'Instructor',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'Rasha',
 'Riley',
 'Romita',
 'Salone',
 'Saman',
 'Santhiya',
 'Sidney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry',
 'Instructor',
 'Sarah',
 'Sarah',
 'Bashir',
 'Sarah',
 'Sarah']

In [39]:
#Q12 Find the index of the element "Bashir" in the list
pps_L.index("Bashir")

36

In [48]:
#Q13 Change the value of the index in Q12 from "Bashir" to "Peer-Mentor"\
pps_L[36]="Peer-Mentor"
pps_L

['Adam',
 'Ajinkya',
 'Akash',
 'Alka',
 'Chloe',
 'Dami',
 'Divya',
 'Edward',
 'Gaurav',
 'Gilmara',
 'Instructor',
 'Jainam',
 'Leul',
 'Mehrnaz',
 'Muhammad',
 'Olaolusubomi',
 'Pray',
 'Rasha',
 'Riley',
 'Romita',
 'Salone',
 'Saman',
 'Santhiya',
 'Sidney',
 'Sowjanya',
 'Suganya',
 'Sunint',
 'Temitope',
 'Tony',
 'Ulan',
 'Winnie',
 'Jerry',
 'Instructor',
 'Sarah',
 'Sarah',
 'Bashir',
 'Peer-Mentor',
 'Sarah']